@font-face {
	font-family: "Quicksand-Bold";
	src: url(../fonts/Quicksand/Quicksand-Bold.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Nunito-SemiBold";
	src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Aqum";
	src: url(../fonts/Aqum/Aqum/Aqum.ttf);
	font-style: normal;
	font-weight: normal;
}